<div id="<%= dom_id cardio %>">
  <p>
    <%= cardio.exercise.name %>
  </p>

  <p>
    <strong>Duree:</strong>
    <%= cardio.duree.hour %> heures
    <%= cardio.duree.min %> minute
  </p>

  <p>
    <%= cardio.user.username %>
  </p>

</div>
