<p style="color: green"><%= notice %></p>

<h1>Weapons</h1>

  <div class="row row-cols-1 row-cols-md-3 g-4">


  <% @weapons.each do |weapon| %>
      <div class="col">
        <%=link_to weapon do%>
            <div class="card">
              <img src="/uploads/<%=weapon.image%>" class="card-img-top" alt="<%=weapon.name%>">
</div>
<%end%>
</div>
  <% end %>
</div>

<%= link_to "New weapon", new_weapon_path %>
