<%= form_with(model: galon) do |form| %>
  <% if galon.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(galon.errors.count, "error") %> prohibited this galon from being saved:</h2>

      <ul>
        <% galon.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :image, style: "display: block" %>
    <%= form.file_field :image %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
